[Unit]
Description=Schedule for market-intel-reader

[Timer]
OnCalendar=*-*-* 00/2:20:00
Persistent=false
AccuracySec=1min

[Install]
WantedBy=timers.target
